name: PullRequest-CI

on: [pull_request]

jobs:
   build:
      runs-on: ubuntu-22.04

      steps:
         - uses: actions/checkout@v1
         - name: Install and run luacheck
           run: |
              sudo apt-get install luarocks
              luarocks install --local luacheck
              /home/runner/.luarocks/bin/luacheck . --no-color -q

         - name: Create Package
           uses: BigWigsMods/packager@v2
           with:
              args: -d -z

         - uses: actions/upload-artifact@master
           with:
              name: Exlist-PR
              path: .release/
              include-hidden-files: true

         - name: Send status to Discord
           uses: nebularg/actions-discord-webhook@v1
           with:
              webhook_url: ${{ secrets.discord_webhook_url }}
           if: always()
